<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Free Church</title>
    <link rel="icon" href="" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
    <link rel="stylesheet" href="dest/stylelibs.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome-pro/css/all.min.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="container header-item">
            <div class="user">
              <a href=""
                ><span>Đăng nhập</span>
                <i class="far fa-sign-in-alt"></i>
              </a>
              <a href=""
                ><span>Đăng ký</span>
                <i class="far fa-user-plus"></i>
              </a>
            </div>
            <div class="header-social">
              <ul>
                <li>
                  <a href="https://www.facebook.com/"
                    ><i class="fab fa-facebook-square"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/"
                    ><i class="fab fa-twitter-square"></i
                  ></a>
                </li>
                <li>
                  <a href="http://instagram.com/"
                    ><i class="fab fa-instagram-square"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/"
                    ><i class="fab fa-youtube-square"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href=""><img src="img/logo/logo.webp" alt="" /></a>
        </div>
        <div class="menu">
          <div class="container">
            <div class="menu-wrap">
              <ul class="menu-list">
                <li><a href="index.html">home</a></li>
                <li><a href="catholic.html">Catholic</a></li>
                <li><a href="world.html">world</a></li>
                <li><a href="about.html">about us</a></li>
                <li><a href="random.html">random post</a></li>
              </ul>
              <div class="menu-mobile">
                <div class="menu-mobile__icon">
                  <i class="fas fa-bars"></i>
                </div>
              </div>
              <div class="search-bar">
                <input type="text" placeholder="Search ..." />
              </div>
            </div>
            <ul class="menu-mobile__list">
              <li><a href="index.html">Home</a></li>
              <li><a href="catholic.html">Catholic</a></li>
              <li><a href="world.html">World</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="">Random post</a></li>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="content-area">
          <div class="container">
            <div class="row">
              <!-- main post  -->
              <div class="col-xl-8">
                <div class="page-about">
                  <p class="page-about__heading">Thông tin về Free Church</p>
                  <div class="page-about__list">
                    <div class="page-about__item">
                      <div class="page-about__item--info">
                        <span>Ngày thành lập:</span>
                        <span>28/10/2003</span>
                      </div>
                      <div class="page-about__item--info">
                        <span>Người quản lý</span>
                        <span>Đinh Hoàng Duy</span>
                      </div>
                      <div class="page-about__item--info">
                        <span>Tổng biên tập:</span>
                        <span>Đinh Hoàng Duy</span>
                      </div>
                    </div>
                    <div class="page-about__item">
                      <div class="page-about__item--info">
                        <span>Đường dây nóng:</span>
                        <span>0000000000JQK</span>
                      </div>
                      <div class="page-about__item--info">
                        <span>Điện thoại: </span>
                        <span>000000000JQK</span>
                      </div>
                      <div class="page-about__item--info">
                        <span>Tổng biên tập:</span>
                        <span>Đinh Hoàng Duy</span>
                      </div>
                    </div>
                    <div class="page-about__item">
                      <div class="page-about__item--info">
                        <span>Văn phòng đại diện Free Church</span>
                        <span>390 Hoang van thu</span>
                      </div>
                      <div class="page-about__item--info">
                        <span>Người quản lý</span>
                        <span>Đinh Hoàng Duy</span>
                      </div>
                    </div>
                  </div>
                  <div class="page-about__desc">
                    <p>
                      Năm 1985, những số báo in thử đầu tiên đã đến tay bạn đọc
                      với tên gọi là Thông tin Thanh Niên. Đây là cơ sở, tiền đề
                      chuẩn bị tiến đến xuất bản Báo Thanh Niên đều đặn, định kỳ
                      từ năm 1986 trở về sau này. Ngày 3 tháng 1 năm 1986, báo
                      ra số đầu tiên với tên gọi Tuần tin Thanh Niên trực thuộc
                      Hội Liên hiệp Thanh niên Việt Nam. Tổng biên tập đầu tiên
                      của tờ báo là ông Huỳnh Tấn Mẫm, người từng là Chủ tịch
                      Tổng hội Sinh viên Sài Gòn trong thời kỳ chiến
                      tranh.[4][5][6]. Do phát hành vào thời điểm nhân dịp năm
                      mới Tết Bính Dần, nên Ban Biên tập quyết định gộp chung số
                      1 và số 2 làm thành số đặc biệt, có đóng bìa. Kể từ đó,
                      ngày 03/01/1986 được chọn là ngày Báo Thanh Niên phát hành
                      số báo đầu tiên, có ý nghĩa như ngày chính thức thành lập
                      Báo. Đến ngày 03/03/1986, Tuần tin Thanh Niên số 3 chính
                      thức phát hành, với khổ A4, 16 trang. Ngày 20/02/1992, Báo
                      Thanh Niên tăng kỳ phát hành lên 2 kỳ/tuần gồm: thứ năm,
                      chủ nhật và xuất bản thêm Thanh Niên Nguyệt San (ra 1
                      kỳ/tháng). Ngày 30/11/1993, Báo Thanh Niên tiếp tục tăng
                      kỳ phát hành lên 3 kỳ/ tuần gồm: thứ ba, thứ năm, chủ
                      nhật. Tháng 4/1995: Tờ Thanh Niên Nguyệt San đổi tên thành
                      Thanh Niên Bán Nguyệt San, phát hành ngày 1 và 15 mỗi
                      tháng. Phát hành 4 kỳ/tuần gồm: thứ ba, thứ năm, thứ bảy,
                      chủ nhật. Thanh Niên chủ nhật ra bộ mới gồm 20 trang, khổ
                      lớn 30x40cm, có 4 trang bìa couché. 2/7/1997, đổi ngày
                      phát hành thành thứ hai, thứ tư, thứ sáu, chủ nhật. Ngày
                      15/9/1999, Thanh Niên Bán Nguyệt San ra số cuối cùng, từ
                      10/10/1999 thay thế bằng Thanh Niên cuối tuần, gồm 48
                      trang, phát hành thứ 5 hằng tuần. Năm 1999: Báo ra 4
                      kỳ/tuần: thứ hai, thứ ba, thứ tư, thứ sáu. Ngày 9/3/2000:
                      Tăng lên 5 kỳ/tuần, phát hành từ thứ hai đến thứ sáu.
                      Thanh Niên cuối tuần chuyển phát hành sang thứ bảy. Ngày
                      7/10/2000, Thanh Niên cuối tuần chính thức đổi thành mang
                      tên Thanh Niên thứ Bảy, khổ lớn. Kể từ thời điểm này Thanh
                      Niên ra 6 kỳ/tuần. 6/1/2002, Thanh Niên chính thức trở
                      thành nhật báo khi phát hành Thanh Niên cuối tuần bộ mới
                      vào chủ nhật (sau này là Thanh Niên chủ nhật) Ngày
                      01/12/2003, website thanhnien.vn, phiên bản điện tử của
                      Báo Thanh Niên chính thức khai trương. Ngày 14/4/2006:
                      Thanh Niên tuần san số 01 chính thức ra đời, in 4 màu, khổ
                      23 x 29cm, phát hành thứ sáu hằng tuần. Ngày 01/10/2007,
                      nhật báo Thanh Niên Daily số 01 ra mắt. Ngày 4/9/2009,
                      tuần báo Thanh Niên Weekly chính thức ra đời (chuyển đổi
                      từ Thanh Niên Daily). Sau đó, đến tháng 11 năm 2010, Thanh
                      Niên Weekly ngừng phát hành.[7]
                    </p>
                    <p>
                      Báo Thanh Niên là một tờ báo Việt Nam phát hành hàng ngày
                      có trụ sở tại Thành phố Hồ Chí Minh. Đây là một trong
                      những tờ báo có số lượng phát hành lớn nhất Việt Nam với
                      300.000 bản/ngày (có thời điểm phát hành hơn 400.000
                      bản).[1] Ngày 3 tháng 1 năm 1986, báo ra số đầu tiên với
                      tên gọi Tuần tin Thanh Niên trực thuộc Hội Liên hiệp Thanh
                      niên Việt Nam. Trước đây, ngày 21 tháng 6 năm 1925, cũng
                      có một tờ báo mang tên Thanh Niên do Nguyễn Ái Quốc sáng
                      lập nhưng không phải là tiền thân của tờ Thanh Niên ngày
                      nay.[2][3] Tòa soạn hiện nay đặt tại số 268 - 270 đường
                      Nguyễn Đình Chiểu, phường Võ Thị Sáu, quận 3, thành phố Hồ
                      Chí Minh và 218 Tây Sơn, quận Đống Đa, Hà Nội. Các phòng
                      ban: Ban Kinh tế Ban Chính trị xã hội Ban Văn nghệ Ban
                      Thanh Niên - Giáo dục Ban Thế thao Ban Thư ký tòa soạn
                    </p>
                    <p>
                      Ban đầu, tờ báo đặt trụ sở tại hành lang văn phòng Câu lạc
                      bộ Hội Liên hiệp Thanh Niên số 145, đường Pasteur, phường
                      6, Quận 3, TP.HCM (là trụ sở của VP Trung ương Đoàn Thanh
                      Niên Cộng sản Hồ Chí Minh - phía Nam). Sau đó, từ tháng
                      10/1986, tòa soạn báo Thanh Niên chuyển về số 1 Ter, đường
                      Nguyễn Thành Ý, Đa Kao Quận 1, TP.HCM. Từ ngày 1/5/1987,
                      tòa soạn chuyển về số 20 Ter, đường Trần Hưng Đạo B,
                      phường 7, Quận 5, TP.HCM. Từ ngày 1/7/1992, tòa soạn chính
                      thức chuyển về số 248, đường Cống Quỳnh, Nguyễn Cư Trinh,
                      Quận 1, TP.HCM. Tháng 2/1998, tòa soạn chuyển về số 189
                      Cống Quỳnh, Quận 1, TP.HCM (nhà thuê), để chuẩn bị khởi
                      công xây dựng lại trụ sở tại 248 Cống Quỳnh. Ngày
                      7/6/1999, tòa soạn chuyển về lại số 248 Cống Quỳnh, Quận
                      1, TP.HCM. Từ ngày 19 tháng 10 năm 2015, tòa soạn chính
                      thức chuyển về số 268 - 270 đường Nguyễn Đình Chiểu,
                      phường 6, Quận 3, TP.HCM. Ngoài tòa soạn chính tại TP.HCM,
                      báo Thanh Niên còn có tòa soạn tại Hà Nội. Cụ thể: Từ
                      tháng 4/1989, Tuần tin Thanh Niên bắt đầu mở cơ quan đại
                      diện tại số 55 phố Quang Trung, Trần Hưng Đạo, Hoàn Kiếm,
                      Hà Nội. Ngày 11 tháng 7 năm 1990, Ban Bí thư Trung ương
                      Đoàn ra Quyết định thành lập Ban đại diện Tuần tin Thanh
                      Niên tại Hà Nội, đặt tại số 139A Mai Hắc Đế, Lê Đại Hành,
                      Hai Bà Trưng, Hà Nội. Đến tháng 11/1990, tòa soạn Hà Nội
                      được chuyển về số 5A Hàm Long, Phan Chu Trinh, Hoàn Kiếm,
                      Hà Nội. Tháng 7/1996, tòa soạn Hà Nội tiếp tục chuyển về
                      số 197 Tây Sơn, Ngã Tư Sở, Đống Đa, Hà Nội. Từ năm 2009,
                      tòa soạn tạm chuyển về 167 Tây Sơn, Quang Trung, Đống Đa,
                      Hà Nội để chuẩn bị xây mới trụ sở 218 Tây Sơn, Trung Liệt,
                      Đống Đa. Đến tháng 6/2014 tòa soạn mới tại 218 Tây Sơn
                      chính thức hoạt động.
                    </p>
                  </div>
                </div>
              </div>
              <!-- sidebar  -->
              <div class="col-xl-4">
                <div class="sidebar">
                  <div class="sidebar-latest">
                    <p class="sidebar-heading">latest</p>
                    <div class="sidebar-latest__item">
                      <a href="" class="sidebar-latest__item--link">
                        <img
                          src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                          alt=""
                        />
                      </a>
                      <div class="sidebar-latest__item--info">
                        <a href="" class="info-link">
                          Cras maximus sit amet arcu
                        </a>
                        <div class="info-time">
                          <i class="far fa-calendar-alt"></i>
                          <span> May 21, 2015</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tabs">
                    <div class="sidebar-tabs__heading">
                      <ul>
                        <li class="sidebar-tabs__link active">Tags</li>
                        <li class="sidebar-tabs__link">latest</li>
                        <li class="sidebar-tabs__link">comments</li>
                      </ul>
                    </div>
                    <div class="sidebar-tabs__content">
                      <!-- tab 1 -->
                      <div
                        class="sidebar-tabs__content--wrap tagcloud-wrap active"
                      >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >coviasdd-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covidasd-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >asdasdas</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                      </div>
                      <!-- end tab 1 -->
                      <!-- tab 2 -->
                      <div class="sidebar-tabs__content--wrap">
                        <div class="sidebar-latest">
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- end tab 2 -->
                    </div>
                  </div>
                  <!-- calendar  -->
                  <div class="sidebar-calendar">
                    <p class="sidebar-heading">CALENDAR</p>
                    <div class="calendar">
                      <div class="calendar-body">
                        <div class="calendar-week-day">
                          <div>CN</div>
                          <div>T2</div>
                          <div>T3</div>
                          <div>T4</div>
                          <div>T5</div>
                          <div>T6</div>
                          <div>T7</div>
                        </div>
                        <div class="calendar-days">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div class="calendar-day-hover">
                            1<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            2<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            3<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            4<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            5<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            6<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            7<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            8<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            9<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            10<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            11<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            12<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            13<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            14<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            15<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            16<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            17<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            18<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            19<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            20<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover curr-date">
                            21<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            22<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            23<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            24<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            25<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            26<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            27<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            28<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            29<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            30<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            31<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="month-list">
                        <div><div data-month="0">January</div></div>
                        <div><div data-month="1">February</div></div>
                        <div><div data-month="2">March</div></div>
                        <div><div data-month="3">April</div></div>
                        <div><div data-month="4">May</div></div>
                        <div><div data-month="5">June</div></div>
                        <div><div data-month="6">July</div></div>
                        <div><div data-month="7">August</div></div>
                        <div><div data-month="8">September</div></div>
                        <div><div data-month="9">October</div></div>
                        <div><div data-month="10">November</div></div>
                        <div><div data-month="11">December</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-categories categories">
                    <p class="sidebar-heading">categories</p>

                    <form action="">
                      <div class="categories__icon">
                        <i class="far fa-angle-down"></i>
                      </div>
                      <select class="categories__select">
                        <option value="0" selected>
                          <span>Select Category </span>
                        </option>
                        <option value="1">Catholic</option>
                        <option value="2">World</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
                <p class="main-footer__heading">Tags</p>
                <div class="tagcloud-wrap">
                  <a href="" class="tagcloud">coviasdd-19</a>
                  <a href="" class="tagcloud">covidasd-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">asdasdas</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                </div>
              </div>
              <div class="col-xl-3 offset-xl-2">
                <div class="categories">
                  <p class="main-footer__heading">Categories</p>
                  <form action="">
                    <div class="categories__icon">
                      <i class="far fa-angle-down"></i>
                    </div>
                    <select class="categories__select">
                      <option value="0" selected="">Select Category</option>
                      <option value="1">Catholic</option>
                      <option value="2">World</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="to-top">
        <i class="far fa-chevron-up"></i>
      </div>
    </div>
    <script type="text/javascript" src="dest/jsmain.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
  </body>
</html>
