<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Free Church</title>
    <link rel="icon" href="" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta property="og:locale" content="vi" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Trang chủ" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:image" content="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="dest/style.min.css" />
    <link rel="stylesheet" href="dest/fonts.css" />
    <link rel="stylesheet" href="dest/stylelibs.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome-pro/css/all.min.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header-top">
          <div class="container header-item">
            <div class="user">
              <a href=""
                ><span>Đăng nhập</span>
                <i class="far fa-sign-in-alt"></i>
              </a>
              <a href=""
                ><span>Đăng ký</span>
                <i class="far fa-user-plus"></i>
              </a>
            </div>
            <div class="header-social">
              <ul>
                <li>
                  <a href="https://www.facebook.com/"
                    ><i class="fab fa-facebook-square"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/"
                    ><i class="fab fa-twitter-square"></i
                  ></a>
                </li>
                <li>
                  <a href="http://instagram.com/"
                    ><i class="fab fa-instagram-square"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/"
                    ><i class="fab fa-youtube-square"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href=""><img src="img/logo/logo.webp" alt="" /></a>
        </div>
        <div class="menu">
          <div class="container">
            <div class="menu-wrap">
              <ul class="menu-list">
                <li><a href="index.html">home</a></li>
                <li><a href="catholic.html">Catholic</a></li>
                <li><a href="world.html">world</a></li>
                <li><a href="about.html">about us</a></li>
                <li><a href="random.html">random post</a></li>
              </ul>
              <div class="menu-mobile">
                <div class="menu-mobile__icon">
                  <i class="fas fa-bars"></i>
                </div>
              </div>
              <div class="search-bar">
                <input type="text" placeholder="Search ..." />
              </div>
            </div>
            <ul class="menu-mobile__list">
              <li><a href="index.html">Home</a></li>
              <li><a href="catholic.html">Catholic</a></li>
              <li><a href="world.html">World</a></li>
              <li><a href="about.html">About us</a></li>
              <li><a href="">Random post</a></li>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="content-area">
          <div class="container">
            <div class="row">
              <!-- main post  -->
              <div class="col-xl-8">
                <div class="user-modal">
                  <div class="user-modal__content">
                    <!-- user authentic -->
                    <div class="user-modal__content--auth">
                      <!-- login  -->
                      <div class="auth-tab__notify"></div>
                      <div class="auth-tab__content">
                        <form action="" method="post">
                          <p class="auth-tab__content--heading">
                            Đăng nhập với email
                          </p>
                          <div class="auth-tab__content--item">
                            <input type="email" placeholder="Email" />
                          </div>
                          <div class="auth-tab__content--item">
                            <input type="password" placeholder="Mật khẩu" />
                          </div>
                          <div class="auth-tab__content--item">
                            <input
                              type="submit"
                              value="Đăng nhập"
                              class="btn-auth"
                            />
                          </div>
                          <div class="auth-tab__content--item">
                            <a href="">Quên mật khẩu</a>
                          </div>
                        </form>
                      </div>
                      <!-- end  -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- sidebar  -->
              <div class="col-xl-4">
                <div class="sidebar">
                  <div class="sidebar-latest">
                    <p class="sidebar-heading">latest</p>
                    <div class="sidebar-latest__item">
                      <a href="" class="sidebar-latest__item--link">
                        <img
                          src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                          alt=""
                        />
                      </a>
                      <div class="sidebar-latest__item--info">
                        <a href="" class="info-link">
                          Cras maximus sit amet arcu
                        </a>
                        <div class="info-time">
                          <i class="far fa-calendar-alt"></i>
                          <span> May 21, 2015</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-tabs">
                    <div class="sidebar-tabs__heading">
                      <ul>
                        <li class="sidebar-tabs__link active">Tags</li>
                        <li class="sidebar-tabs__link">latest</li>
                        <li class="sidebar-tabs__link">comments</li>
                      </ul>
                    </div>
                    <div class="sidebar-tabs__content">
                      <!-- tab 1 -->
                      <div
                        class="sidebar-tabs__content--wrap tagcloud-wrap active"
                      >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >coviasdd-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covidasd-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >asdasdas</a
                        >
                        <a href="" class="sidebar-tabs__content--item tagcloud"
                          >covid-19</a
                        >
                      </div>
                      <!-- end tab 1 -->
                      <!-- tab 2 -->
                      <div class="sidebar-tabs__content--wrap">
                        <div class="sidebar-latest">
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="sidebar-latest__item">
                            <a href="">
                              <img
                                src="img/sidebar-latest-news/entrepreneur-593371_1280-150x150.webp"
                                alt=""
                              />
                              <div class="sidebar-latest__item--info">
                                <a href="" class="info-link">
                                  Cras maximus sit amet arcu
                                </a>
                                <div class="info-time">
                                  <i class="far fa-calendar-alt"></i>
                                  <span> May 21, 2015</span>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- end tab 2 -->
                    </div>
                  </div>
                  <!-- calendar  -->
                  <div class="sidebar-calendar">
                    <p class="sidebar-heading">CALENDAR</p>
                    <div class="calendar">
                      <div class="calendar-body">
                        <div class="calendar-week-day">
                          <div>CN</div>
                          <div>T2</div>
                          <div>T3</div>
                          <div>T4</div>
                          <div>T5</div>
                          <div>T6</div>
                          <div>T7</div>
                        </div>
                        <div class="calendar-days">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div class="calendar-day-hover">
                            1<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            2<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            3<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            4<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            5<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            6<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            7<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            8<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            9<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            10<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            11<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            12<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            13<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            14<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            15<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            16<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            17<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            18<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            19<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            20<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover curr-date">
                            21<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            22<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            23<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            24<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            25<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            26<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            27<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            28<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            29<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            30<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                          <div class="calendar-day-hover">
                            31<span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                      </div>
                      <div class="month-list">
                        <div><div data-month="0">January</div></div>
                        <div><div data-month="1">February</div></div>
                        <div><div data-month="2">March</div></div>
                        <div><div data-month="3">April</div></div>
                        <div><div data-month="4">May</div></div>
                        <div><div data-month="5">June</div></div>
                        <div><div data-month="6">July</div></div>
                        <div><div data-month="7">August</div></div>
                        <div><div data-month="8">September</div></div>
                        <div><div data-month="9">October</div></div>
                        <div><div data-month="10">November</div></div>
                        <div><div data-month="11">December</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-categories categories">
                    <p class="sidebar-heading">categories</p>

                    <form action="">
                      <div class="categories__icon">
                        <i class="far fa-angle-down"></i>
                      </div>
                      <select class="categories__select">
                        <option value="0" selected>
                          <span>Select Category </span>
                        </option>
                        <option value="1">Catholic</option>
                        <option value="2">World</option>
                      </select>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-xl-6">
                <p class="main-footer__heading">Tags</p>
                <div class="tagcloud-wrap">
                  <a href="" class="tagcloud">coviasdd-19</a>
                  <a href="" class="tagcloud">covidasd-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">asdasdas</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                  <a href="" class="tagcloud">covid-19</a>
                </div>
              </div>
              <div class="col-xl-3 offset-xl-2">
                <div class="categories">
                  <p class="main-footer__heading">Categories</p>
                  <form action="">
                    <div class="categories__icon">
                      <i class="far fa-angle-down"></i>
                    </div>
                    <select class="categories__select">
                      <option value="0" selected="">Select Category</option>
                      <option value="1">Catholic</option>
                      <option value="2">World</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="to-top">
        <i class="far fa-chevron-up"></i>
      </div>
    </div>
    <script type="text/javascript" src="dest/jsmain.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
  </body>
</html>
